<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sc2voicebuilds"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <application
            android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.sc2voicebuilds.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.sc2voicebuilds.ZergBuilds"
            android:label="@string/title_activity_zerg_builds"
            android:screenOrientation="portrait">>
        </activity>
        <activity
            android:name="com.example.sc2voicebuilds.TerranBuilds"
            android:label="@string/title_activity_terran_builds"
            android:screenOrientation="portrait">>
        </activity>
        <activity
            android:name="com.example.sc2voicebuilds.ProtossBuilds"
            android:label="@string/title_activity_protoss_builds"
            android:screenOrientation="portrait">>
        </activity>
        <activity
            android:name="com.example.sc2voicebuilds.About"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait">>
        </activity>
        <activity
            android:name=".coming_soon"
            android:label="@string/title_activity_support__us"
            android:screenOrientation="portrait">>
        </activity>
        <activity
            android:name="com.example.sc2voicebuilds.TCreator"
            android:label="@string/title_activity_tcreator"
            android:screenOrientation="portrait">>
        </activity>
        <activity
            android:name="com.example.sc2voicebuilds.ZCreator"
            android:label="@string/title_activity_zcreator"
            android:screenOrientation="portrait">>
        </activity>
        <activity
            android:name="com.example.sc2voicebuilds.PCreator"
            android:label="@string/title_activity_pcreator"
            android:screenOrientation="portrait">>
        </activity>
        <activity
            android:name="com.example.sc2voicebuilds.Base_Creator"
            android:label="@string/title_activity_base__creator"
            android:screenOrientation="portrait">>
        </activity>
        <activity
            android:name="com.example.sc2voicebuilds.Donators"
            android:label="@string/title_activity_donators"
            android:screenOrientation="portrait">>
        </activity>
        <activity android:name=".UploadBuilds"/>
    </application>

</manifest>
